.descripcion-icono {
    margin-right: 15px;
}

.volver {
    font-size: 40px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #EE8178;
}

.datos-propiedad p {
    border: none;
    border-bottom: 0.1px solid #eddcdc;

}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    list-style: none;
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 8px 16px;
    color: #333;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f2f2f2;
}

.pagination .previousPage,
.pagination .nextPage {
    background-color: #fff;
}

.paginationDisabled {
    display: none;
}

.paginationActive {
    background-color: #EE8178;
    color: #fff;
}

.custom-image {
    width: 100%;
    /* Tamaño deseado */
    height: 200px;
    /* Tamaño deseado */
    object-fit: cover;
    /* Conservar la forma sin distorsión */
}
.scrollable-card-body {
    max-height: 300px; /* Tamaño máximo deseado */
    overflow-y: auto; /* Habilitar scroll vertical cuando sea necesario */
  }
  