.propiedad_card {
    width: 390px;
    
}
.propiedad_card img{
    position: relative;
}
.propiedad_card-description{
    position: absolute;
    margin-top: -200px;
    background-color: rgba(255, 255, 255, 0.844);
    width: 100%;
    /* width: ; */
}